[submodule ".emacs.d/site-lisp/Hyde"]
	path = .emacs.d/site-lisp/Hyde
	url = git://github.com/yoshizow/Hyde.git
[submodule ".emacs.d/site-lisp/git-emacs"]
	path = .emacs.d/site-lisp/git-emacs
	url = git://github.com/tsgates/git-emacs.git
[submodule ".emacs.d/themes/blackboard-theme"]
	path = .emacs.d/themes/blackboard-theme
	url = git://github.com/don9z/blackboard-theme.git
[submodule ".emacs.d/site-lisp/dtrt-indent"]
	path = .emacs.d/site-lisp/dtrt-indent
	url = git://git.sv.gnu.org/dtrt-indent.git
[submodule ".emacs.d/site-lisp/helm-etags-plus"]
	path = .emacs.d/site-lisp/helm-etags-plus
	url = git://github.com/jixiuf/helm-etags-plus.git
[submodule ".emacs.d/site-lisp/ZNC.el"]
	path = .emacs.d/site-lisp/ZNC.el
	url = git://github.com/sshirokov/ZNC.el.git
