[user]
	name = "Simon Schubert"
	email = "2@0x2c.org"
[color]
	diff = auto
[alias]
	co = checkout
	ci = commit
[url "git+ssh://corecode@git.launchpad.net/"]
        insteadof = lp:
[imap]
	folder = Drafts
	host = imaps://0x2c.org
	user = 2
	preformattedHTML = true
[push]
	default = simple
[include]
        path = .gitconfig.auth
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[github]
	user = corecode
