[user]
	name = "Simon Schubert"
	email = "2@0x2c.org"
[color]
	diff = auto
[alias]
	co = checkout
	ci = commit
[url "git+ssh://corecode@git.launchpad.net/"]
        insteadof = lp:
[imap]
	folder = Drafts
	host = imaps://0x2c.org
	user = 2
	preformattedHTML = true
[push]
	default = simple
