XTerm*background: black
XTerm*foreground: lightgrey
!XTerm*color4: #5050ff
!XTerm*colorBDMode: true
XTerm*cursorColor: yellow
#if X_RESOLUTION > 5000
XTerm*font: -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-*
#else
XTerm*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
#endif
XTerm*utf8: 1
!#if HEIGHT > 768
!XTerm.vt100.geometry: 90x40
!#else
XTerm*geometry: 100x35
!#endif
XTerm*saveLines: 2000
XTerm*scrollBar: false
XTerm*termName: xterm
XTerm*colorMode: true
XTerm*boldColor: false
XTerm*loginShell: true
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
XTerm*color4: #4040ff
!XTerm*visualBell: true
Fig.latexfonts: true
Fig.specialtext: true
#ifdef SRVR_nslpc6_epfl_ch
XTerm*visualBell: true
#endif

URxvt*color0:           black
URxvt*background:       black
URxvt*color7:           grey90
URxvt*foreground:       grey90
URxvt*cursorColor:      #e0e080
URxvt*underlineColor:	yellow
URxvt*loginShell:	true
!URxvt*font:		-*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
!URxvt*boldFont:		-*-terminus-bold-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt*font:		xft:Terminus:regular:size=12
URxvt*boldFont:		xft:Terminus:bold
URxvt*italicFont:	xft:Bitstream Vera Sans Mono:italic:autohint=true
URxvt*bolditalicFont:	xft:Bitstream Vera Sans Mono:bold:italic:autohint=true
URxvt*saveLines:	10000
URxvt*scrollBar:	false
URxvt*scrollstyle:	plain
URxvt*scrollTtyOutput:	false
URxvt*scrollTtyKeypress:    true
URxvt*shading:		15
URxvt*transparent:	false
URxvt*termName:		rxvt-unicode
//URxvt*fading:		30
//URxvt*keysym.Home:	\033[1~
//URxvt*keysym.End:	\033[4~
// XXX: fix this
//URxvt*keysym.M-u:	perl:mark-yank-urls:activate_mark_mode
//URxvt*perl-lib:		/home/cfl/.urxvt
//URxvt*perl-ext:		selection,mark-yank-urls
URxvt*perl-ext-common:		default,url-select
URxvt*url-select.launcher:		xdg-open
URxvt*url-select.underline:		true
URxvt*url-select.button:		1
URxvt*keysym.M-u:		perl:url-select:select_next
URxvt*geometry:		80x25
URxvt*urgentOnBell:	true
