XTerm*background: black
XTerm*foreground: lightgrey
!XTerm*color4: #5050ff
!XTerm*colorBDMode: true
XTerm*cursorColor: yellow
#if X_RESOLUTION > 5000
XTerm*font: -*-terminus-medium-*-*-*-20-*-*-*-*-*-iso10646-*
#else
XTerm*font: -*-terminus-medium-*-*-*-14-*-*-*-*-*-iso10646-*
#endif
XTerm*utf8: 1
!#if HEIGHT > 768
;XTerm.vt100.geometry: 90x40
!#else
XTerm.vt100.geometry: 100x35
!#endif
XTerm*saveLines: 2000
XTerm*scrollBar: false
XTerm*termName: xterm
XTerm*colorMode: true
XTerm*boldColor: false
XTerm*loginShell: true
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true
!XTerm*visualBell: true
Fig.latexfonts: true
Fig.specialtext: true
#ifdef SRVR_nslpc6_epfl_ch
XTerm*visualBell: true
#endif
