!/*
loaddefs.el*
backups/*
auto-save-list
abbrev_defs
config.el
ido.last
network-security.data
recentf
transient
bookmarks
*elc
places
url/cookies
thumbs/*
oddmuse/*
elpa/*
var/*
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store
.places
.smex*
*~
image-dired/
elim/
session*
!session.el
tramp
\#*
history
ac-comphist.dat
.session
.emacs.desktop*
*-nocommit.el
semanticdb
.*
amx-items
srecode-map.el
quelpa
elpy
eln-cache
codeium
forge-database.sqlite
org-persist
projectile-bookmarks.eld
*.cache